<div class="container">
  <ul class="container__list">
    <li class="container__list__item">
      <a
        class="container__list__item__link"
        href="{{environment.instagram}}"
        target="_blank">
        Instagram
      </a>
    </li>
    <li class="container__list__item">
      <a
        class="container__list__item__link"
        href="{{environment.linkedin}}"
        target="_blank">
        LinkedIn
      </a>
    </li>
    <li class="container__list__item">
      <a
        class="container__list__item__link"
        href="{{environment.github}}"
        target="_blank">
        Github
      </a>
    </li>
  </ul>
</div>
