.home {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;

  &__games {
    padding-top: 48px;
    width: 100%;

    &__new {
      display: flex;
      justify-content: space-between;

      margin: 0 104px 16px;
    }

  }


}
