@import '../../../../../assets/variables.scss';

.container {
  position: absolute;
  padding: 0 4px;

  width: 100%;
  height: 55px;

  background-color: #0d0d0de8;
  color: antiquewhite;

  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;

  &__title {
    margin: 4px 0;

  }

  &__details {
    display: flex;
    justify-content: space-between;

    &__console {
      display: flex;

      & > span {
        color: $second-blue;
        font-weight: 700;
      }
    }

    &__money {
      display: flex;

      &__promo-price {
        color: grey;
        padding-right: 8px;
        text-decoration: line-through;
      }
    }
  }

}

.hidden {
  display: none;
}
